.swiper{
    width: 100% !important;
}

.Testimonial_wrapper{
    background-color: #000000;
    /* background-color: aqua; */
    z-index: 1;
    position: relative;
}
.Testimonial_wrapper h2{
    font-size: 30px;
    margin: 2% 3%;
    color:white;
}
.Testimonial_wrapper::after{
background: url('./../../assets/Layer_1-2.png');
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: -1;
opacity: 0.05;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.Testimonial_Container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #bdbdbd;
    margin-top: 80px;
    border: 0.5px solid #c1dafe;
    border-radius: 12px;
    margin-top: 40px;
}
.Testimonial_Container .profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Testimonial_Container .profile img{
height: 90px;
width: 90px;
border-radius: 50%;
}
.Testimonial_Container p{
 font-size: 15px;
 font-weight: 500;
 color: #202020;
}